@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
		Rapid Express - @ViewData["Title"]
	</title>
	<link rel="shortcut icon" href="~/favicon.ico">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
	<script src="https://js.stripe.com/v3/"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm bg-primary border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="/images/rapid-logo-3.jpg" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
					</span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav">
						@if (User.IsInRole(GlobalConstants.TransporterRole))
						{
							<li class="nav-item">
								<a class="nav-link text-white" asp-controller="Deliveries" asp-action="Index">
									@Localizer["Deliveries"]
								</a>
							</li>
						}
						@if (User.IsInRole(GlobalConstants.AdministratorRole))
						{
							<li class="nav-item">
								<a class="nav-link text-white" asp-area="Admin" asp-controller="Deliveries" asp-action="Index">
									@Localizer["All Deliveries"]
								</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
									@Localizer["Users"]
								</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">
										@Localizer["User Administration"]
									</a>
									<a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Pending">
										@Localizer["Pending Requests"]
									</a>
									<a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Register">
										@Localizer["Register New Moderator"]
									</a>
								</div>
							</li>
						}
						@if (User.IsInRole(GlobalConstants.ModeratorRole))
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
									@Localizer["Users"]
								</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">
										@Localizer["User Administration"]
									</a>
									<a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Pending">
										@Localizer["Pending Requests"]
									</a>
								</div>
							</li>
						}
						@if (User.IsInRole(GlobalConstants.AdministratorRole) || User.IsInRole(GlobalConstants.ModeratorRole) || User.IsInRole(GlobalConstants.CustomerRole))
						{
							<li class="nav-item">
								<a class="nav-link text-white" asp-area="" asp-controller="Deliveries" asp-action="Create">
									@Localizer["Create new delivery"]
								</a>
							</li>
						}
						<li class="nav-item">
							<a class="nav-link text-white" asp-area="" asp-controller="Contacts" asp-action="Index">
								@Localizer["Contacts"]
							</a>
						</li>
					</ul>
				</div>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<partial name="_LoginPartial" />
				</div>
				@await Html.PartialAsync("_SelectLanguagePartial")
			</div>
		</nav>
	</header>
	<div class="container">
		@if (TempData.ContainsKey(GlobalConstants.TempDataSuccessMessageKey))
		{
			<div class="alert alert-success">
				@TempData[GlobalConstants.TempDataSuccessMessageKey]
			</div>
		}
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-white bg-primary responsive">
		<div class="container">
			<div class="row">
				<div class="col-9">
					&copy; 2020 - Rapid Express
				</div>
				<div class="col-3">
					<i class="fab fa-facebook mr-2"></i>
					<i class="fab fa-instagram mr-2"></i>
					<i class="fab fa-linkedin mr-2"></i>
					<i class="fab fa-twitter"></i>
				</div>
			</div>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD2sQdRrCe5JPI47nmVm_Vcn4BwC4hA5g&libraries=places"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>
		window.setTimeout(function () {
			$(".alert").fadeTo(500, 0).slideUp(500, function () {
				$(this).remove();
			});
		}, 3000);
	</script>
	@RenderSection("Scripts", required: false)
</body>
</html>
